.login-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-body > h1 {
    border: 1px solid rgba(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    color: white;
    background-color: rgba(32, 44, 75);
    /* height: 80px; */
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-left: 1px solid rgba(204, 204, 204);
    border-bottom: 1px solid rgba(204, 204, 204);
    border-right: 1px solid rgba(204, 204, 204);
    padding: 10px;

    width: 40%;
    height: 300px;
}

.login-info > span {
    width: 80px;
}

.login-form > .login-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.error {
    color: red;
}

.login-info.error {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {

    .login-body {
        justify-content: start;
    }

    .login-body > h1 {
        border: 1px solid rgba(204, 204, 204);
        width: 100%;
    }

    .login-form {
        width: 100%;
        border-left: 1px solid rgba(204, 204, 204);
        border-bottom: 1px solid rgba(204, 204, 204);
        border-right: 1px solid rgba(204, 204, 204);
    }
    .login-form > .login-info {
        flex-direction: column;
        width: 80%;
    }
}